# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Data & Models (Allowed for Vercel)
*.csv
*.xlsx

# Local Plots (Allowing validation plots for display)
# static/plots/*.png <--- Removed this so they upload
instance/
.pytest_cache/

# OS
.DS_Store
Thumbs.db
